.shapkastaff {
    color: white;
    text-decoration:white;
    width: 100%;
    height: 90px;
    background-color: #0b046b;
    border-bottom: 4px solid silver;
    text-align: center;
    word-spacing: 6px;
}